.trade-ledger {

    padding-inline: 2rem;

    table {

        thead h3 {
            font-size: 20pt;
            margin: 0;
            margin-block-start: 0.25rem;
            padding-block: 0;
            font-family: var(--fnt-handwritten);
            font-weight: 100;
        }

        thead>tr:first-child>th {
            border: none;
        }

        th,
        td {
            border: 1px solid black;
        }


        td.handwritten {
            font-size: smaller;
        }

        tbody {

            td:nth-child(3n+1):not(:last-child) {
                border-inline-end-style: double;
                border-inline-end-width: 3px;
            }

            th,
            td {
                border-block-color: var(--clr-blue);
                border-inline-color: var(--clr-red);
            }

            tr:last-child th,
            tr:last-child td {
                border-bottom: none;
            }
        }

        .text-size-smaller {
            font-size: smaller;
        }

        tbody td {
            text-align: center;
        }

        .commname {
            font-size: x-small;
            text-align: right;
            font-weight: 600;
            font-variant: small-caps;
            vertical-align: middle;

            border-inline-end-color: var(--clr-blue);
            border-inline-end-style: double;
            border-inline-end-width: 3px;
        }

        .data-age-display {
            font-size: x-small;
            text-align: center;
        }

        tfoot {
            height: 3rem;
            border-top: 3px double var(--clr-dark);

            tr td {
                border: none;
            }
        }
    }
}