.town-view {
    .buildings {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3rem;
        margin-block: 3rem;
    }

    .building {
        transform: perspective(20cm) rotateX(10deg);

        background-color: var(--clr-dark);
        color: var(--clr-light);
        padding-inline: 1rem;
        text-align: center;
        height: 8rem;
        border-radius: 5px;
        position: relative;

        h3 {
            margin-block-start: 0.5rem;
            text-shadow: 5px 5px 5px black;
            transition: text-shadow 200ms ease;
        }

        &:hover h3 {
            text-shadow: 5px 5px 5px black,
                0 0 20px goldenrod;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            width: 1rem;
            height: 2rem;
            background-color: var(--clr-light);
            transform: translateX(160%);
        }

        box-shadow: 0.25rem 0.25rem 1rem black;

    }

    .supplies-demands-section {
        display: flex;
        justify-content: center;
    }

    .document {
        min-width: 40ch;
    }
}