.dashboard-wrapper {
    --sidebar-width: 25ch;

    display: grid;
    grid-template-columns: var(--sidebar-width) auto;
    grid-template-areas: "sidebar outlet";
    gap: 1rem;
}

aside.dashboard-sidebar {
    position: fixed;
    width: var(--sidebar-width);
    z-index: 10;
    background-color: #2f291c35;

    height: 100vh;
    grid-area: sidebar;

    section {
        display: flex;
        justify-content: center;
    }
}

main.dashboard-outlet {
    grid-area: outlet;
}

nav {
    padding: 1rem;
}

nav>a {
    color: white;
    text-decoration: none;
    padding-block: 0.2rem;
    padding-inline: 1.25rem;
    margin-block: 0.2rem;
    text-align: center;
    font-weight: 900;

    display: block;

    &:hover {
        text-decoration: underline;
    }

    &:visited {
        color: white;
    }

    &.active {
        border-style: ridge;
        border-color: rgb(210, 200, 192);
        border-width: 5px 2px 5px 2px;
    }
}