@import-normalize;

:root {
  --clr-dark: rgb(51, 38, 11);
  --clr-light: rgb(238, 228, 185);
  --clr-dark-lighter: color-mix(in oklab, var(--clr-dark) 30%, var(--clr-light));
  --ink-blue: rgb(36, 36, 107);
}

html {
  background-color: rgb(94, 82, 77);
  color: white;
}

* {
  font-family: "Maiden Orange", Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

button {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  font-variant: small-caps;
  border: none;
  border-radius: 3px;
  padding: 0.3rem;
  transition: all 200ms;

}

button:hover {
  background-color: rgb(133, 92, 69);
  cursor: pointer;
}

button:disabled {
  background-color: rgba(75, 58, 36, 0.446);
  color: rgba(68, 60, 55, 0.601);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  justify-content: center;
}

form>* {
  margin-top: 0.5rem;
}

form>label {
  display: flex;
  justify-content: space-between;
}

pre {
  font-family: 'Courier New', Courier, monospace;
}

meter {
  width: 100%;
}