@import-normalize;

:root {
  --clr-dark: rgb(51, 38, 11);
  --clr-light: rgb(228, 203, 170);
  --clr-dark-lighter: color(from var(--clr-dark) srgb r g b / 60%);
  --ink-blue: rgb(29, 29, 87);
  --clr-dirt: rgb(94, 82, 77);
  --clr-ink-red: color-mix(in oklab, maroon 75%, red);
  --clr-ink-green: darkgreen;

  /* Fonts */
  --fnt-slab: "Rokkitt", serif;
  --fnt-cursive: "Mrs Saint Delafield", cursive;
  --fnt-handwritten: "Homemade Apple", cursive;
  --fnt-woodtype: "Rye", serif;
  --fnt-impact: "Oswald", sans-serif;
  --fnt-rubberstamp: "Rubik Dirt", system-ui;
}

body {
  background: radial-gradient(var(--clr-dirt), rgb(26, 20, 14));
  color: white;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: var(--fnt-slab);
  font-weight: 400;
  font-style: normal;
}

*::selection {
  background-color: rgba(255, 255, 0, 0.391);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fnt-woodtype);
  font-weight: 600;
}

button {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  font-variant: small-caps;
  border: none;
  border-radius: 3px;
  padding: 0.3rem;
  transition: color 200ms, background-color 200ms;

}

button:hover {
  background-color: rgb(133, 92, 69);
  cursor: pointer;
}

button:disabled {
  background-color: rgba(75, 58, 36, 0.446);
  color: rgba(68, 60, 55, 0.601);
}

form>* {
  margin-top: 0.5rem;
}

form>label {
  display: flex;
  justify-content: space-between;
}

pre {
  font-family: 'Courier New', Courier, monospace;
}

meter {
  width: 100%;
}

.handwritten {
  font-family: var(--fnt-handwritten);
  font-weight: 600;
  font-size: large;
  line-height: 0.75em;
  color: rgb(73, 73, 73);
  /* color: var(--ink-blue); */
  padding-inline: 0.2rem;
  margin-block: 0;
  text-align: left;
  font-weight: 100;
}

.fineprint {
  color: var(--clr-dark-lighter);
  font-size: x-small;
  font-variant: small-caps;
}

.signature {
  font-family: var(--fnt-cursive);
  color: var(--ink-blue);
}

.document {
  box-shadow:
    1px 1px 10px rgba(0, 0, 0, 0.468),
    inset 0 0 100px 25px rgb(117 86 44 / 50%),
    inset 0 0 10px 5px rgba(138, 62, 18, 0.25);
  background: var(--clr-light);
  color: var(--clr-dark);
  overflow: hidden;
}

.document-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 900px;
  gap: 1rem;
}

table {
  border-collapse: collapse;
  margin-block: 1rem;

  button {
    margin-block: 0.2rem;
  }
}

th[scope="col"] {
  /* padding-block: 0.5rem; */
  /* font-weight: 900; */
  text-align: center;
  /* font-size: larger; */
  text-transform: uppercase;
  /* font-variant: small-caps; */
}

th[scope="row"] {
  font-weight: bold;
  text-align: left;
}

tfoot th {
  font-weight: bold;
  text-align: left;
  font-variant: small-caps;
}

th,
td {
  text-align: center;
  padding-inline: 0.5rem;
  border: 1px solid var(--clr-dark-lighter);
}


thead {
  border-bottom: 4px double var(--clr-dark-lighter);

  .obligations-headers>th {
    /* font-family: inherit; */
    /* font-weight: bold; */
    font-size: x-small;
    width: min-content;
    padding: 0.1rem;
  }
}


th.section-div-row {
  padding-block: 0.5rem;
  /* font-family: Oswald, sans-serif; */
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  /* font-weight: bold; */
  font-size: larger;

  text-transform: none;
  font-variant: small-caps;
  /* border-block-style: double; */
  border-block: 3px double var(--clr-dark-lighter);

  &::before,
  &::after {
    content: " ⸺ ";
  }
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.classified-notice {
  font-family: var(--fnt-rubberstamp);
}

*:popover-open {
  color: var(--clr-dark-lighter);
  padding: 0.5rem;
  background-color: var(--clr-light);
  text-align: center;
}

::backdrop {
  background-color: rgba(26, 20, 14, 0.37);
}

button[popovertarget] {
  border-radius: 100%;
  background-color: transparent;
  color: var(--clr-dark);
  aspect-ratio: 1;
  padding: 0.1rem;
  margin: 0;

  &:hover {
    background-color: var(--clr-dark);
    color: var(--clr-light);
  }
}