@import-normalize;

html {
  background-color: rgb(94, 82, 77);
  color: white;
}

* {
  font-family: "Maiden Orange", Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

button {
  background-color: rgb(75, 58, 36);
  border: 2px solid white;
  border-radius: 3px;
  color: white;
  padding: 0.3rem;
  transition: all 200ms;
}

button:hover {
  background-color: rgb(133, 92, 69);
}

button:disabled {
  background-color: rgb(75, 58, 36);
  color: rgb(164, 142, 129);
  border-color: rgb(164, 142, 129);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  justify-content: center;
}


form>* {
  margin-top: 0.5rem;
}

form>label {
  display: flex;
  justify-content: space-between;
}

pre {
  font-family: 'Courier New', Courier, monospace;
}