.inventory-display {
    padding: 1rem;
    margin-block-end: 1rem;


    hgroup {
        text-align: center;
        padding: 0.5rem;

        h3 {
            font-family: var(--fnt-rubberstamp);
            font-weight: 100;

            text-transform: uppercase;
            font-size: x-large;
            margin-block-start: 0.15rem;
            margin-block-end: 0;
        }

        div {
            text-transform: uppercase;
            color: var(--clr-dark-lighter);
            font-size: smaller;
        }
    }

    table {
        padding: 0.5rem;
        min-width: 50ch;
        margin: 0;
    }

    thead {
        th {
            padding: 0.1rem;
        }

        .heading-explainer {
            font-size: xx-small;
            text-transform: uppercase;
        }
    }

    counter-reset: cell-number;

    th,
    .cell-with-counter {
        counter-increment: cell-number;
        position: relative;
    }

    th::before,
    .cell-with-counter::before {
        content: counter(cell-number);
        font-size: xx-small;
        position: absolute;
        left: 0;
        top: 0;
        padding-inline: 0.1rem;
        font-weight: bold;
    }

    tbody {


        th[scope="row"] {
            text-align: center;
        }
    }

    tfoot {
        border-top-style: double;
        border-top-width: 3px;

        tr * {
            padding-block: 0.5rem;
        }

        td[colspan="2"] {
            max-width: min-content;
            text-align: left;
        }

        div {
            text-transform: uppercase;
            padding: 0;
            line-height: 1;
            font-size: x-small;
        }

        .handwritten {
            text-transform: none;
        }
    }
}