p {
    font-style: italic;
}

h2 {
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    background: var(--clr-light);
    color: var(--clr-dark);
    margin-block: 1rem;

    button {
        margin-block: 0.2rem;
    }
}

th[scope="col"] {
    padding-block: 0.5rem;
    /* font-weight: 900; */
    text-align: center;
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    /* font-variant: small-caps; */
}

th[scope="row"] {
    font-weight: bold;
    text-align: left;
    /* background */
}

tfoot th {
    font-weight: bold;
    text-align: left;
    font-variant: small-caps;
}

th,
td {
    text-align: center;
    padding-inline: 0.5rem;
    border: 1px solid var(--clr-dark)
}


thead {
    border-bottom: 4px double var(--clr-dark);
}

tfoot {
    border-top: 4px double var(--clr-dark);

    p {
        color: color-mix(in oklab, var(--clr-dark) 30%, var(--clr-light));
        font-style: normal;
        font-variant: small-caps;
        font-size: x-small;
        text-justify: distribute;
        text-align: center;
        margin-block: 0.3rem;
        line-height: 85%;
    }

    th:has(p) {
        width: min-content;
    }
}

tbody>tr:nth-of-type(odd) {
    background-color: rgba(126, 76, 0, 0.1);
}

.transaction-td {
    display: flex;
    justify-content: space-between;
    gap: 0.2rem;
}

.signature-section>div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    &>.signature-label {
        font-variant: small-caps;
        font-size: x-small;
    }

    &>.signature {
        font-family: "Mrs Saint Delafield", cursive;
        text-decoration: underline;
        padding-inline-end: 0.5rem;
    }
}

.commname,
.playerqty,
.sellbtn,
.txnqty,
.buybtn,
.marketqty,
.unitprice {
    text-align: center;
    padding-inline: 0.2rem;
}

.sellbtn,
.buybtn {
    width: min-content;
}

.commname {
    grid-column: commname;
    text-align: left;
    font-weight: bold;
}


.playerqty {
    grid-column: playerqty;
}

.sellbtn {
    grid-column: sellbtn;
}

.txnqty {
    grid-column: txnqty;
}

.buybtn {
    grid-column: buybtn;
}

.marketqty {
    grid-column: marketqty;
}

.unitprice {
    grid-column: unitprice;
    text-align: right;
}


.inventory-row {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    width: 100%;

    &>button {
        width: min-content
    }
}